.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}

.playball-regular {
    font-family: "playball", cursive;
    font-weight: 400;
}